@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #001a25;
}

#toggle {
   position: fixed;
   top: 20px;
   right: 20px;
   width: 60px;
   height: 60px;
   background: #03a9f4;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}

#toggle .hamburger-box {
   display: flex;
   align-items: center;
   justify-content: center;
}

#sidebar {
   position: fixed;
   top: 0;
   left: -300px;
   width: 300px;
   height: 100vh;
   background: #003147;
   transition: all 0.5s;
}

#sidebar.active {
   left: 0;
}

#sidebar ul {
   position: relative;
   margin-top: 50px;
}

#sidebar ul li {
   list-style: none;
   display: inline-block;
   width: 100%;
   padding: 10px 40px;
}

#sidebar ul li:hover {
   background: #03a9f4;
}

#sidebar ul li a {
   color: #fff;
   text-decoration: none;
   font-size: 1.5em;
   letter-spacing: 2px;

}

