* {
  font-family: "Consolas", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: scale(1.2);
}

.password {
  width: 375px;
  height: 40px;
  margin: 10px 0;
  border: 1px solid rgb(24, 23, 23);
  border-radius: 10px;
  /* padding: 3px 6px; */
  padding-top: 6px;
  padding-left: 9px;
}

.alertBox{
  position: absolute;
  top: 32px;
  background: #4ad295;
  width: 375px;
  height: 40px;
  margin: 10px 0;
  border-radius: 10px;
  /* padding: 3px 6px; */
  padding-top: 7px;
  padding-left: 9px;
  z-index: 1;
  display: none;
}

.alertBox.active{
  display: flex;
  text-align: center;
  color: white;
}

.buttons{
   display: flex;
   justify-content: flex-start;
}

.generate {
  padding: 5px 8px;
  background: rgb(66, 66, 66);
  color: white;
  border: none;
  outline: none;
  border-radius: 7.5px;
  transition: all 0.5s ease-out;
  margin-top: 2px;
  margin-right: 20px;
}

.generate:active {
  background: white;
  color: black;
  border: 1px solid black;
  transform: scale(0.95);
}

.reset {
  padding: 5px 8px;
  background: white;
  border: 1px solid black;
  color: black;
  outline: none;
  border-radius: 7.5px;
  transition: all 0.5s ease-out;
  margin-top: 2px;
}

.reset:active {
   background: rgb(66, 66, 66);
   color: white;
   transform: scale(0.95);
}

.copyimg{
  position: absolute;
  top: 52px;
  right: 15px;
  cursor: pointer;
  opacity: 0.3;
}

.copyimg:hover{
  opacity: 1;
}

 @media screen and (max-width: 470px) {
  .container{
    transform: scale(0.90);
  }
}
