@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

$primary: #b6b6b6;
$secondary: #ececec;
$tprimary: #23232e;
$tsecondary: #141418;

@import 'animbar';

* {
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
}

hr {
  height: 3px;
  color: #df49a6;
  background-color: #df49a6;
  border: none;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  &::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
}

main {
  margin-left: 5rem;
  padding: 1rem;
  h1 {
    font-family: "Pacifico";
    font-size: 1.8rem;
  }
}






