$font: "Poppins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font, sans-serif;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  z-index: 2;

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.8;
  }
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background-image: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  .active {
    background-image: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
  }
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
}

.menu {
}

.text {
  position: relative;
  z-index: 10;

  h2 {
    font-size: 4em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
  }

  h3 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
  }

  p{
     font-size: 1.1em;
     margin: 20px 0;
     font-weight: 400;
     max-width: 700px;
  }

  a{
    display: inline-block;
    font-size: 0.7em;
    background: white;
    padding: 10px 20px;
    text-decoration: none;
    color:black;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s ease-in-out;
    &:hover{
       background: rgba(255, 255, 255, 0.65);
       transform: scale(1.1);
       color: rgba($color: #000000, $alpha: 0.7)
    }
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(21, 200, 255, 0.35);
}

.social{
   position: absolute;
   bottom: 20px;
   z-index: 10;
   display: flex;
   justify-content: center;
   align-items: center;

   li{
      list-style: none;

      a{
        display: inline-block;
        filter: invert(1);
        margin: 20px;
        transform: scale(0.5);
        transition: 0.5s;

        &:hover{
           transform: scale(0.5) translateY(-15px);
        }
      }
   }
}

@media(max-width: 791px){
   .showcase, .showcase header{
      padding: 40px;
   }

   .text h2{
      font-size: 2.5em;
   }

   .text h3{
      font-size: 1.5em;
   }
   
}   