.social-container {
   margin: 20px 0;

   .facebook {
     border: 1px solid #eee;
     border-radius: 50%;
     &:hover {
       border: 2px solid #3b5998;
       box-shadow: 0 0 15px #3b5998;
       transition: all 0.5s ease;
     }
   }

   .google {
     border: 1px solid #eee;
     border-radius: 50%;
     &:hover {
       border: 2px solid #dd4b39;
       box-shadow: 0 0 15px #dd4b39;
       transition: all 0.5s ease;
     }
   }

   .linkedin {
     border: 1px solid #eee;
     border-radius: 50%;
     &:hover {
       border: 2px solid #00aced;
       box-shadow: 0 0 15px #00aced;
       transition: all 0.5s ease;
     }
   }

   a {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     margin: 0 5px;
     height: 40px;
     width: 40px;
     &:hover {
       .fa-facebook-f {
         color: #3b5998;
         text-shadow: 0 0 15px #3b5998;
         transition: all 0.5s ease;
       }
       .fa-linkedin-in {
         color: #00aced;
         text-shadow: 0 0 15px #00aced;
         transition: all 0.5s ease;
       }
       .fa-google-plus-g {
         color: #dd4b39;
         text-shadow: 0 0 15px #dd4b39;
         transition: all 0.5s ease;
       }
     }
   }
 }