@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");


@import '_form-container';
@import 'social-icons-bar';
@import 'madeinIndiafooter';


* {
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -20px 0 50px;

  h1 {
    font-family: "Pacifico";
    font-weight: 400;
  }

  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }

  span {
    font-size: 12px;
  }

  a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }
}


