
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

h1{
   color: #426696;
   font-weight: 600;
   font-size: 2.9rem;
   opacity: 0.8;
}

h2,p{
   color: #d66992;
   font-weight: 500;
   opacity: 0.8;
}

.games h2{
   color: #426696;
}

h3{
   color: #426696;
   font-weight: 600;
   opacity: 0.8;
}

@import 'main';
@import 'glass';
@import 'circles';
@import 'dashboard'