
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background: #e9e9e9;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 20px;
}

body{
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
}

@mixin shadow {
   box-shadow: -6px -6px 9px #fff, 6px 6px 9px rgba(#000, 0.4);
}

@mixin shadow-inset {
   box-shadow: inset -6px -6px 9px #fff, inset 6px 6px 9px rgba(#000, 0.4);
}

main{
   @include shadow;
   padding: 2rem;
   border-radius: 30px;

   input, button{
      outline: none;
   }

   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button{
      -webkit-appearance: none;
   }
   input[type=number]{
      -moz-appearance: textfield;
   }

   input{
      @include shadow-inset;
      width: 320px;
      height: 60px;
      padding: 16px 32px;
      text-align: right;
      border: none;
      border-radius: 30px;
      text-shadow: -1px -1px 2px white, 2px 2px 2px rgba(black, 0.4);
   }

   .keys{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.8rem;
      margin-top: 20px;
   }

   button{
      @include shadow;
      width: 60px;
      height: 60px;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      background: #e9e9e9;

      &:hover, &:active{
         background-color: #ccc;
      }
      &:active{
         @include shadow-inset;
      }
   }

   .op__key, .eq__key{
      color: rgb(216, 74, 18);
   }
}